{% block author_card %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/author_card.css' %}">
<div class="card">
  <div class="card-header">
    <div>
      <h1> Usha Dahal</h1><br>
      <h2>Global Health </h2>
      {% load static %}
    </div><img src="{% static 'img/mouse.jpg' %}" alt="" />
  </div>
  <nav>
    <ul>
      <li><strong>email</strong><a href="#">ushablog@gmail.com</a></li>
      <li><strong>linkedin</strong><a href="https://www.linkedin.com/in/ushadahal" target="_blank">linkedin/ushadahal</a></li>
      <li><strong>education</strong><a href="https://about.ku.dk/" target="_blank"> University of Copenhagen</a></li>
    </ul>
  </nav>
</div>
{% endblock %}